In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split

s3 = pd.read_csv('Amazon S3_Cleaned.tsv', delimiter='\t', encoding='utf-8')
rds = pd.read_csv('Amazon RDS_Cleaned.tsv', delimiter='\t', encoding='utf-8')

In [12]:
names = ["label", "description"]

X = s3.drop('description', axis=1)
y = s3['label']

In [13]:
print(X)

           label
0      Amazon S3
1      Amazon S3
2      Amazon S3
3      Amazon S3
4      Amazon S3
5      Amazon S3
6      Amazon S3
7      Amazon S3
8      Amazon S3
9      Amazon S3
10     Amazon S3
11     Amazon S3
12     Amazon S3
13     Amazon S3
14     Amazon S3
15     Amazon S3
16     Amazon S3
17     Amazon S3
18     Amazon S3
19     Amazon S3
20     Amazon S3
21     Amazon S3
22     Amazon S3
23     Amazon S3
24     Amazon S3
25     Amazon S3
26     Amazon S3
27     Amazon S3
28     Amazon S3
29     Amazon S3
...          ...
53144  Amazon S3
53145  Amazon S3
53146  Amazon S3
53147  Amazon S3
53148  Amazon S3
53149  Amazon S3
53150  Amazon S3
53151  Amazon S3
53152  Amazon S3
53153  Amazon S3
53154  Amazon S3
53155  Amazon S3
53156  Amazon S3
53157  Amazon S3
53158  Amazon S3
53159  Amazon S3
53160  Amazon S3
53161  Amazon S3
53162  Amazon S3
53163  Amazon S3
53164  Amazon S3
53165  Amazon S3
53166  Amazon S3
53167  Amazon S3
53168  Amazon S3
53169  Amazon S3
53170  Amazon S3
53171  Amazon S3
53172  Amazon S3
53173  Amazon S3

[53174 rows x 1 columns]